@model Helperland.Models.SPSettings;
@using Microsoft.AspNetCore.Http;
@*@Html.Raw(TempData["msg"])*@
@{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="~/css/book-a-serviceStyle.css">
        <link rel="stylesheet" type="text/css" href="~/css/service-historyStyle.css">
        <link rel="stylesheet" type="text/css" href="~/css/upcoming-servicesStyle.css">
        <link rel="stylesheet" type="text/css" href="~/css/styles.css">
        <title>Serviceprovider Pages</title>
        
    </head>
    <body>
        <!------------Navbar-------------->
        @Html.Partial("_header")
        <!----------------Welcome------------->
        <section class="welcome" style="padding: 100px 0 20px 0;">
            <div class="d-flex text-center align-items-center justify-content-center">
                <p id="welcome">Welcome, <span class="fw-bold"> @Context.Session.GetString("username")!</span></p>
            </div>
        </section>
        <!----------------Mainbody-------------->
        <div class="row px-5" style="padding-top: 50px;">
            <div class="col-lg-3 d-lg-block d-none">
                <div class="sidemenu mb-5">
                    <div class="nav flex-column nav-pills bg-transparent" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                        <div class="nav flex-column nav-pills bg-transparent" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                            <a class="nav-link" id="v-pills-db-tab" asp-action="SPDashboard" asp-controller="Home" role="tab" aria-controls="v-pills-db" aria-selected="true">Dashboard</a>

                            <a class="nav-link" id="v-pills-nsr-tab" asp-action="SPNewRequest" asp-controller="Home" role="tab" aria-controls="v-pills-nsr" aria-selected="false">New Service Requests</a>

                            <a class="nav-link" id="v-pills-us-tab" asp-action="SPUpcomingServices" asp-controller="Home" role="tab" aria-controls="v-pills-us" aria-selected="false">Upcoming Services</a>

                            <a class="nav-link" id="v-pills-ss-tab" data-toggle="pill" href="#ss" role="tab" aria-controls="v-pills-ss" aria-selected="false">Service Schedule</a>

                            <a class="nav-link" id="v-pills-sh-tab" asp-action="SPServiceHistory" asp-controller="Home" role="tab" aria-controls="v-pills-sh" aria-selected="false">Service History</a>

                            <a class="nav-link" id="v-pills-mr-tab" asp-action="SPRatings" asp-controller="Home" role="tab" aria-controls="v-pills-mr" aria-selected="false">My Ratings</a>

                            <a class="nav-link" id="v-pills-bc-tab" asp-action="BlockCustomer" asp-controller="Home" role="tab" aria-controls="v-pills-bc" aria-selected="false">Block Customer</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-12">

                <div class="tab-content" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="mysettings" role="tabpanel" aria-labelledby="v-pills-mysettings-tab">
                        <div class="col">

                            <div class="nav flex-row nav-pills bg-transparent setting-tabs" id="v-pills-tab" role="tablist">

                                <a class="nav-link active px-5" id="v-pills-details-tab" data-toggle="pill" href="#details" role="tab" aria-controls="v-pills-details" aria-selected="true">
                                    <img class="d-md-none" src="~/images/details.png">
                                    <span class="d-md-block d-none">My Details</span>
                                </a>

                                <a class="nav-link px-5" id="v-pills-password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="v-pills-password" aria-selected="false">
                                    <img class="d-md-none" src="~/images/adresss.png">
                                    <span class="d-md-block d-none">Password</span>
                                </a>

                            </div>

                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="pills-details-tab">
                                    <div class="col p-3 mysetting">
                                        @using (Html.BeginForm("ServiceProviderSettings", "Home", FormMethod.Post))
                                        {
                                            <input type="hidden" asp-for="Users.UserId"/>
                                            @*<div class="text-success">@ViewBag["msg1"]</div>*@
                                    <div class="flex-column">
                                        @if (Model.Users.IsActive == true)
                                        {
                                            <div class="fw-bold mb-3">Account status : <span class="status"> Active</span></div>
                                        }
                                        else
                                        {
                                            <div class="fw-bold mb-3">Account status : <span style="color : #ff0000"> Inactive</span></div>
                                        }
                                        <div class="fw-bold">Basic details</div>
                                        <div class="d-flex flex-row">
                                            <hr style="width: 90%"><span>
                                                @if (Model.Users.UserProfilePicture == "car")
                                                {
                                                    <img src="~/images/avatar-hat.png" id="profilepic" class="ms-2"
                                                         style="margin-top: -40px;">
                                                }
                                                else @if (Model.Users.UserProfilePicture == "female")
                                           {
                                            <img src="~/images/avatar-female.png" id="profilepic" class="ms-2"
                                                 style="margin-top: -40px;">
                                        }
                                        else @if (Model.Users.UserProfilePicture == "iron")
                                   {
                                    <img src="~/images/avatar-iron.png" id="profilepic" class="ms-2"
                                         style="margin-top: -40px;">
                                }
                                else @if (Model.Users.UserProfilePicture == "male")
                               {
                                    <img src="~/images/avatar-male.png" id="profilepic" class="ms-2"
                                         style="margin-top: -40px;">
                                }
                                else @if (Model.Users.UserProfilePicture == "ship")
                               {
                                    <img src="~/images/avatar-ship.png" id="profilepic" class="ms-2"
                                         style="margin-top: -40px;">
                                }
                                else
                                {
                                    <img src="~/images/avatar-hat.png" id="profilepic" class="ms-2"
                                         style="margin-top: -40px;">
                                }
                                    </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-12 mb-2">
                                            <label>First Name</label>
                                            <div><input type="text" id="firstname" class="px-2" asp-for="Users.FirstName"></div>
                                            <span class="text-danger" asp-validation-for="Users.FirstName"></span>
                                        </div>
                                        <div class="col-md-4 col-12 mb-2">
                                            <label>Last Name</label>
                                            <div><input type="text" id="lastname" class="px-2" asp-for="Users.LastName" /></div>
                                            <span class="text-danger" asp-validation-for="Users.LastName"></span>
                                        </div>
                                        <div class="col-md-4 col-12 mb-2">
                                            <label>Email</label>
                                            <div><input type="email" class="px-2" asp-for="Users.Email" readonly="readonly"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-12 mb-2">
                                            <label>Mobile Number</label>
                                            <div class="input-group mb-3" style="z-index: 0">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-2" id="basic-addon1">+91</span>
                                                </div>
                                                <input type="tel" class="form-control py-2 phone" asp-for="Users.Mobile" aria-label="Phone Number" id="mobile" aria-describedby="basic-addon1" />
                                            </div>
                                            <span class="text-danger" asp-validation-for="Users.Mobile"></span>
                                        </div>
                                        <div class="col-md-4 col-12 mb-2 dob">
                                            <label>Date of Birth</label>
                                            <div>
                                                <input type="date" asp-for="Users.DateOfBirth" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div>
                                                <label>Nationality</label>
                                                <div>
                                                    <select name="nationality" class="p-2 mt-1 nationality" id="nationality">
                                                        <option value="German">German</option>
                                                        <option value="Indian">Indian</option>
                                                        <option value="dutch">Dutch</option>
                                                        <option value="italian">Italian</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-column mt-2 gender">
                                        <div class="my-3 fw-bold"><label>Gender</label></div>
                                        <div class="d-flex flex-md-row flex-column gender">

                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(model => model.Users.Gender, "1", new { @name = "Gender" })
                                                Male
                                            </label>
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(model => model.Users.Gender, "2", new { @name = "Gender" })
                                                Female
                                            </label>
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(model => model.Users.Gender, "3", new { @name = "Gender" })
                                                Other
                                            </label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column mt-3 avatar">
                                        <div style="font-size: 18px;"><label>Select avatar</label></div>
                                        <div class="flex-row mt-2">
                                            <label class="radio-inline me-2">
                                                @Html.RadioButtonFor(model => model.Users.UserProfilePicture, "car", new { @name = "Select avatar", @class = "d-none" })
                                                <img src="~/images/avatar-car.png" id="car">
                                            </label>
                                            <label class="radio-inline me-2">
                                                @Html.RadioButtonFor(model => model.Users.UserProfilePicture, "female", new { @name = "Select avatar", @class = "d-none" })
                                                <img src="~/images/avatar-female.png" id="female">
                                            </label>
                                            <label class="radio-inline me-2">
                                                @Html.RadioButtonFor(model => model.Users.UserProfilePicture, "hat", new { @name = "Select avatar", @class = "d-none" })
                                                <img src="~/images/avatar-hat.png" id="hat">
                                            </label>
                                            <label class="radio-inline me-2">
                                                @Html.RadioButtonFor(model => model.Users.UserProfilePicture, "iron", new { @name = "Select avatar", @class = "d-none" })
                                                <img src="~/images/avatar-iron.png" id="iron">
                                            </label>
                                            <label class="radio-inline me-2">
                                                @Html.RadioButtonFor(model => model.Users.UserProfilePicture, "male", new { @name = "Select avatar", @class = "d-none" })
                                                <img src="~/images/avatar-male.png" id="male">
                                            </label>
                                            <label class="radio-inline me-2">
                                                @Html.RadioButtonFor(model => model.Users.UserProfilePicture, "ship", new { @name = "Select avatar", @class = "d-none" })
                                                <img src="~/images/avatar-ship.png" id="ship">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mt-4 fw-bold">My Address</div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <label>Street name</label>
                                            <input class="mb-3 p-2 street-name" type="text" id="streetname" asp-for="UserAddresses.AddressLine1" required>
                                        </div>

                                        <div class="col-md-4 col-12">
                                            <label>House number</label>
                                            <input class="mb-3 p-2 house-number" type="text" id="housenumber" asp-for="UserAddresses.AddressLine2" required>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <label>Postal code</label>
                                            <input class="mb-3 p-2 postal-code" type="number" id="postalcode" asp-for="UserAddresses.PostalCode" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <label>City</label>
                                            <input class="mb-3 p-2 city" type="text" id="city" asp-for="UserAddresses.City" required>
                                        </div>
                                        <div class="col-md-4 col-12"></div>
                                        <div class="col-md-4 col-12"></div>
                                    </div>
                                    <button class="button px-3" type="submit">Save</button>
                                    </div>
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="pills-password-tab">
                                    <div class="col p-3">
                                        <p class="fw-bold d-md-none" style="font-size: 18px;">My Password</p>
                                        <div class="flex-column mysetting">
                                            <label class="mb-1">Old Password</label>
                                            <div><input class="mb-3 p-2" type="password" name="old-password" id="old-password" placeholder="Current Password"></div>
                                            <label class="mb-1">New Password</label>
                                            <div><input class="mb-3 p-2" type="password" name="new-password" id="new-password" placeholder="New Password"></div>
                                            <label class="mb-1">Confirm Password</label>
                                            <div><input class="mb-3 p-2" type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password"></div>
                                            <div><button class="button px-3" id="updatepassword">Save</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!---------------footer--------------------->
        @Html.Partial("_footer")

        <div onclick="topFunction()" id="myBtn" title="Go to top"><img class="scroll ms-5" src="~/images/up.png"></div>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <script src="~/js/mobilemenu.js"></script>
        <script src="~/js/script.js"></script>
        <script type="text/javascript">
            window.addEventListener("scroll", function () {
                var header = document.querySelector("header");
                header.classList.toggle("sticky", window.scrollY > 0);
            });

            $(function () {
                $('#car').click(function () {
                    $("#profilepic").attr("src", "/images/avatar-car.png");
                });
            });

            $(function () {
                $('#female').click(function () {
                    $("#profilepic").attr("src", "/images/avatar-female.png");
                });
            });

            $(function () {
                $('#hat').click(function () {
                    $("#profilepic").attr("src", "/images/avatar-hat.png");
                });
            });        

            $(function () {
                $('#male').click(function () {
                    $("#profilepic").attr("src", "/images/avatar-male.png");
                });
            });

            $(function () {
                $('#iron').click(function () {
                    $("#profilepic").attr("src", "/images/avatar-iron.png");
                });
            });

            $(function () {
                $('#ship').click(function () {
                    $("#profilepic").attr("src", "/images/avatar-ship.png");
                });
            });

            
        </script>

        <script>

            $("#updatepassword").on('click', function () {
            var password = {};
            password.Password = $("#old-password").val();
            password.Newpassword = $("#new-password").val();
            password.Confirmpassword = $("#confirm-password").val();
            console.log(password);
            if (password.Password == '' || password.Newpassword == '' || password.Confirmpassword == '') {
                alert("All fields are required!")
            }
            else if (password.Newpassword != password.Confirmpassword) {
                alert("Password and Confirm password must match");
            }
            else
            {
                $.ajax({
                    url: '@Url.Action("Updatepassword","home")',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(password),
                    success: function (resp) {
                        if (resp) {
                            alert("Password changed");
                        }
                        else {
                            alert("Old password does not match");
                        }
                    },
                    error: function (err) {
                        alert("Error occured while changing the password");
                    }
                });
            }
            });
        </script>
        
    </body>
</html>
}

