@model Helperland.Models.User;
@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/book-a-serviceStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/service-historyStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <title>Customer Pages</title>
    <!--------------Bootstrap------------------>
</head>
<body>
    <!------------Navbar-------------->
    @Html.Partial("_header")
    <!----------------Welcome------------->
    <section class="welcome" style="padding: 100px 0 20px 0;">
        <div class="d-flex text-center align-items-center justify-content-center">
            <p id="welcome">Welcome, <span class="fw-bold">@Context.Session.GetString("username")!</span></p>
        </div>
    </section>
    <!----------------Mainbody-------------->
    <div class="row px-5" style="padding-top: 50px;">
        <div class="col-lg-3 d-lg-block d-none">
            <div class="sidemenu mb-5">
                <div class="nav flex-column nav-pills bg-transparent" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    <a class="nav-link active" id="v-pills-Overview-tab" asp-action="sdashboard" asp-controller="Home" role="tab" aria-controls="v-pills-overview" aria-selected="true">Dashboard</a>

                    <a class="nav-link" id="v-pills-css-tab" asp-action="shistory" asp-controller="Home" role="tab" aria-controls="v-pills-css" aria-selected="false">Service History</a>

                    <a class="nav-link" id="v-pills-cview-tab" data-toggle="pill" href="#cview" role="tab" aria-controls="v-pills-cview" aria-selected="false">Service Schedule</a>

                    <a class="nav-link" id="v-pills-favpros-tab" asp-action="favouritepros" asp-controller="Home" role="tab" aria-controls="v-pills-favpros" aria-selected="false">Favourite Pros</a>

                    <a class="nav-link" id="v-pills-invoices-tab" data-toggle="pill" role="tab" aria-controls="v-pills-invoices" aria-selected="false">Invoices</a>

                    <a class="nav-link" id="v-pills-notifications-tab" data-toggle="pill" role="tab" aria-controls="v-pills-notifications" aria-selected="false">Notifications</a>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-12">

            <div class="tab-content" id="v-pills-tabContent">

                <div class="tab-pane fade show active" id="mysettings" role="tabpanel" aria-labelledby="v-pills-mysettings-tab">
                    <div class="col">

                        <div class="nav flex-row nav-pills bg-transparent setting-tabs" id="v-pills-tab" role="tablist">

                            <a class="nav-link active px-5" id="v-pills-details-tab" data-toggle="pill" href="#details" role="tab" aria-controls="v-pills-details" aria-selected="true">
                                <img class="d-md-none" src="~/images/details.png">
                                <span class="d-md-block d-none">My Details</span>
                            </a>

                            <a class="nav-link px-5" id="v-pills-address-tab" data-toggle="pill" href="#address" role="tab" aria-controls="v-pills-address" aria-selected="false">
                                <img class="d-md-none" src="~/images/addresss.png">
                                <span class="d-md-block d-none">My Addresses</span>
                            </a>

                            <a class="nav-link px-5" id="v-pills-password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="v-pills-password" aria-selected="false">
                                <img class="d-md-none" src="~/images/addresss.png">
                                <span class="d-md-block d-none">Password</span>
                            </a>

                        </div>

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="pills-details-tab">
                                <div class="col p-3 mysetting">
                                    <p class="fw-bold d-md-none" style="font-size: 18px;">My Details</p>
                                    <div class="row">
                                        <div class="col-md-4 col-12 mb-2">
                                            <label>First Name</label>
                                            <div><input type="text" name="firstname" id="firstname" class="px-2" asp-for="FirstName"></div>
                                            <span class="text-danger" asp-validation-for="FirstName"></span>
                                        </div>
                                        <div class="col-md-4 col-12 mb-2">
                                            <label>Last Name</label>
                                            <div><input type="text" name="lastname" id="lastname" class="px-2" asp-for="LastName"></div>
                                            <span class="text-danger" asp-validation-for="FirstName"></span>
                                        </div>
                                        <div class="col-md-4 col-12 mb-2">
                                            <label>Email</label>
                                            <div><input type="text" name="email" class="px-2" asp-for="Email" disabled></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 col-12 mb-2">
                                            <label>Mobile Number</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text py-2" id="basic-addon1">+91</span>
                                                </div>
                                                <input type="tel" class="form-control py-2" asp-for="Mobile" aria-label="Phone Number" id="mobile" aria-describedby="basic-addon1">
                                            </div>
                                            <span class="text-danger" asp-validation-for="FirstName"></span>
                                        </div>
                                        <div class="col-md-4 col-12 mb-2 dob">
                                            <label>Date of Birth</label>
                                            <div>
                                                <input type="date" asp-for="DateOfBirth" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="mb-3 fw-bold">My Preferred Language</div>
                                    <div class="mb-3">
                                        <select class="selectpicker p-2" data-width="fit" id="languageid">
                                            <option id="1">English</option>
                                            <option id="2">Español</option>
                                            <option id="3">Italiano</option>
                                            <option id="4">Deutsch</option>
                                        </select>
                                    </div>
                                    <button class="button px-3" id="savedetails">Save</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="pills-address-tab">

                            </div>
                            <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="pills-password-tab">
                                <div class="col p-3">
                                    <p class="fw-bold d-md-none" style="font-size: 18px;">My Password</p>
                                    <div class="flex-column mysetting">
                                        <label class="mb-1">Old Password</label>
                                        <div><input class="mb-3 p-2" type="password" name="old-password" id="old-password" placeholder="Current Password"></div>
                                        <label class="mb-1">New Password</label>
                                        <div><input class="mb-3 p-2" type="password" name="new-password" id="new-password" placeholder="New Password"></div>
                                        <label class="mb-1">Confirm Password</label>
                                        <div><input class="mb-3 p-2" type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password"></div>
                                        <div><button class="button px-3" id="updatepassword">Save</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>



    <!---------------footer--------------------->
    @Html.Partial("_footer")

    <div onclick="topFunction()" id="myBtn" title="Go to top"><img class="scroll ms-5" src="~/images/up.png"></div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="~/js/mobilemenu.js"></script>
    <script src="~/js/script.js"></script>
    <script type="text/javascript">
        window.addEventListener("scroll", function () {
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0);
        });
    </script>

    <script>

        $("#savedetails").on('click', function () {
            var book = {};
            book.FirstName = $("#firstname").val();
            book.LastName = $("#lastname").val();
            book.Mobile = $("#mobile").val();
            console.log(book);
            if (book.FirstName == null || book.FirstName=='') {
                alert("first name must be entered!")
            }
            else if (book.LastName == null || book.LastName=='') {
                alert("Last name must be entered!")
            }
            else if (book.Mobile == null || book.Mobile=='') {
                alert("Mobile must be entered!")
            }
            else {
                $.ajax({
                    url: '@Url.Action("UpdateDetails", "Home")',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(book),
                    success: function (resp) {
                        alert("Data has been added successfully.");
                        location.reload();
                    },
                    error: function (err) {
                        alert("Error while inserting data");
                    }
                });
            }
        });



        $("#updatepassword").on('click', function () {
            var password = {};
            password.Password = $("#old-password").val();
            password.Newpassword = $("#new-password").val();
            password.Confirmpassword = $("#confirm-password").val();
            console.log(password);
            if (password.Password == '' || password.Newpassword == '' || password.Confirmpassword == '') {
                alert("All fields are required!!");
            }
            else if (password.Newpassword != password.Confirmpassword) {
                alert("Password and Confirm password must match");
            }
            else
            {
                $.ajax({
                    url: '@Url.Action("Updatepassword","home")',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(password),
                    success: function (resp) {
                        if (resp) {
                            alert("Password changed");
                        }
                        else {
                            alert("Old password does not match");
                        }
                    },
                    error: function (err) {
                        alert("Error occured while changing the password");
                    }
                });
            }
        });
    </script>

    <script>
        $("#v-pills-address-tab").click(function(){
            $("#address").load('@Url.Action("CustomerAddress","Home")');
    });
    </script>


</body>
</html>