@model IEnumerable<Helperland.Models.ServiceRequest>
@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/book-a-serviceStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/service-historyStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <title>Customer Pages</title>
    <!--------------Bootstrap------------------>
</head>
<body>
    <!------------Navbar-------------->
    @Html.Partial("_header")
    <!----------------Welcome------------->
    <section class="welcome" style="padding: 100px 0 20px 0;">
        <div class="d-flex text-center align-items-center justify-content-center">
            <p id="welcome">Welcome, <span class="fw-bold"> @Context.Session.GetString("username")!</span></p>
        </div>
    </section>
    <!----------------Mainbody-------------->
    <div class="row px-5" style="padding-top: 50px;">
        <div class="col-lg-3 d-lg-block d-none">
            <div class="sidemenu mb-5">
                <div class="nav flex-column nav-pills bg-transparent" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    <a class="nav-link" id="v-pills-Overview-tab" asp-action="sdashboard" asp-controller="Home" role="tab" aria-controls="v-pills-overview" aria-selected="false">Dashboard</a>

                    <a class="nav-link active" id="v-pills-css-tab" asp-action="shistory" asp-controller="Home" role="tab" aria-controls="v-pills-css" aria-selected="true">Service History</a>

                    <a class="nav-link" id="v-pills-cview-tab" data-toggle="pill" href="#cview" role="tab" aria-controls="v-pills-cview" aria-selected="false">Service Schedule</a>

                    <a class="nav-link" id="v-pills-favpros-tab" asp-action="favouritepros" asp-controller="Home" role="tab" aria-controls="v-pills-favpros" aria-selected="false">Favourite Pros</a>

                    <a class="nav-link" id="v-pills-invoices-tab" data-toggle="pill" href="#invoices" role="tab" aria-controls="v-pills-invoices" aria-selected="false">Invoices</a>

                    <a class="nav-link" id="v-pills-notifications-tab" data-toggle="pill" href="#notifications" role="tab" aria-controls="v-pills-notifications" aria-selected="false">Notifications</a>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-12">

            <div class="tab-content" id="v-pills-tabContent">

                <div class="tab-pane fade show active" id="css" role="tabpanel" aria-labelledby="v-pills-css-tab">
                    <div class="col">
                        <div class="tableabove navbar d-flex align-items-center">
                            <div class="d-flex align-items-center"><p class="text1 fw-bold">Service History</p></div>
                            <div class="d-flex align-items-center">
                                <p class="button text-center">
                                    <a href="" class="px-3">Export</a>
                                </p>
                            </div>
                        </div>
                        <table class="table" id="HistoryTable">
                            <thead>
                                <tr>
                                    <th>Service Id</th>
                                    <th>Service Details</th>
                                    <th>Service Provider</th>
                                    <th>Payment</th>
                                    <th>Status</th>
                                    <th>Rate SP</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td><button type="button" data-id="@item.ServiceRequestId" class="btn srModel" @*data-toggle="modal" data-target="#myModal"*@ id="srmodel1">@item.ServiceId</button></td>
                                        <td class="cs btn" id="cs srmodel1" data-id="@item.ServiceRequestId" type="button" @*data-toggle="modal" data-target="#myModal"*@>
                                            <div class="fw-bold"><img class="me-2" src="~/images/calender.png">@item.ServiceStartDate.ToShortDateString()</div>
                                            <div class="ms-lg-0 ms-5">12:00 - 18:00</div>
                                        </td>
                                        @if (item.Status == 1)
                                        {

                                            <td class="cs">
                                                <img class="hat me-2" src="~/images/hat.png"><span>Lyum Watson</span>
                                                <div class="rate">
                                                    <img src="~/images/ystar.png" />
                                                    <img src="~/images/ystar.png" />
                                                    <img src="~/images/ystar.png" />
                                                    <img src="~/images/ystar.png" />
                                                    <img src="~/images/wstar.png" />
                                                </div>
                                            </td>
                                            <td class="price">€<span class="fw-bold">@item.TotalCost</span></td>
                                            <td>
                                                <button class="complete mt-md-3 mt-2">Completed</button>
                                            </td>
                                            <td><button class="Rate mt-2"><a href="#">Rate SP</a></button></td>
                                        }
                                        else if (item.Status == 2)

                                        {
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <button class="cancelled mt-md-3 mt-2">cancelled</button>
                                            </td>
                                            <td></td>

                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                       
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!---------------footer--------------------->
    @Html.Partial("_footer")

    <div onclick="topFunction()" id="myBtn" title="Go to top"><img class="scroll ms-5" src="~/images/up.png"></div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="~/js/mobilemenu.js"></script>
    <script src="~/js/script.js"></script>
    <script type="text/javascript">
        window.addEventListener("scroll", function () {
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0);
        });

        $(document).ready(function () {
            $('#HistoryTable').DataTable();
        });

        $(document).on("click", "#srmodel1", function () {
            $.ajax({
                url: '@Url.Action("srModel", "Home")',
                type: 'GET',
                contentType: 'application/html; charset=utf-8',
                data: {
                    /*ServiceRequestId: srid,*/
                    id: parseInt($(this).attr("data-id")),
                },
                success: function (resp) {
                    $("#SRModel").html(resp);
                    $("#SRModel").modal('show');
                },
                error: function (err) {
                    console.log("Error");
                }
            });
        });
    </script>

</body>
</html>

